.banner{
    background-image: url("../img/fotocarro.jpg");
    padding: 15% 30% 30% 8%;
    background-size:cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

.banner::after{
    content: "";
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    top:0;
    left: 0;
    opacity:0.45;
    z-index: -1;
    
}

.fuente{font-family: 'Edu NSW ACT Foundation', cursive;
color: white;}


